<h1>Avacado#index</h1>


<!-- Begin Nav -->
  <nav class="top-bar topbar-responsive">
    <div class="top-bar-title">
      <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
      </span>
      <a class="topbar-responsive-logo" href="about.html"><strong>Cars</strong></a>
    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
      <div class="top-bar-right">
        <ul class="menu simple vertical medium-horizontal">
          <li><a href="site.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="works.html">Works</a></li>
          <li><a href="newcars.html">New Cars</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li>
            <button type="button" class="button hollow topbar-responsive-button">Categories</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Small Nav -->

  <!-- Begin Hero -->
  <div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>Contact US</h1>
    <p class="subheader">Our team has you covered.</p>
      <img src="http://farm8.static.flickr.com/7056/26867933430_33962f6441.jpg" alt="" />
      <a href="newcars.html" class="round button">See our range of beauties </a>
  </div>
</div>

  <!-- Small Hero -->

  <!-- Begin Content -->
  <section class="filter-simple">
  <div class="button-group round">
    <button class="button hollow filter-simple-button is-active" data-filter="all"><a href="site.html">Me</button>
    <button class="button hollow filter-simple-button" data-filter="space"><a href="newcars.html">Soul</button>
    <button class="button hollow filter-simple-button" data-filter="cats"><a href="works.html">Cars</button>
    <button class="button hollow filter-simple-button" data-filter="murray"><a href="about.html">Pew</button>
  </div>

  <div class="row small-up-2 medium-up-3 large-up-4">
    <div class="column column-block filter-simple-item space">
      <img src="https://drivetribe.imgix.net/QjvNpfb6SVyI_J0VXxU5qA?w=600&h=600&fm=pjpg&auto=compress&fit=crop&crop=faces,edges" alt="" />
    </div>
    <div class="column column-block filter-simple-item murray">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/d2/6d/92/d26d927df29b746f5f2131c07c1cde4a.jpg" alt="" />
    </div>
    <div class="column column-block filter-simple-item cats">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/21/23/ab/2123ab0650b32b791ba73797dbf450dc.jpg" alt="" />
    </div>
    <div class="column column-block filter-simple-item cats">
      <img src="https://pbs.twimg.com/media/DVEoUPCXcAEHUPo.jpg" alt="" />
    </div>
    <div class="column column-block filter-simple-item cats">
      <img src="https://pbs.twimg.com/media/B7k7jv_IMAAYalV.jpg" alt="" />
    </div>
    <div class="column column-block filter-simple-item murray">
      <img src="https://scontent-ort2-1.cdninstagram.com/vp/7f0796252b69eca69886bdb427b01b2c/5B65056C/t51.2885-15/s480x480/e35/c236.0.607.607/28157547_1749283241804680_7007092959917113344_n.jpg" alt="" />
    </div>
    <div class="column column-block filter-simple-item murray">
      <img src="https://i.pinimg.com/736x/42/2b/fe/422bfea72e78b5958d88057add176ec5.jpg" alt="" />
    </div>
    <div class="column column-block filter-simple-item cats">
      <img src="https://78.media.tumblr.com/d14cad97e7bb8969dba836479c4e17bf/tumblr_o7gr4zWDcF1u73hheo1_500.jpg" alt="" />
    </div>
    <div class="column column-block filter-simple-item murray">
      <img src="https://i.pinimg.com/564x/89/d9/a3/89d9a3ae70406597d319fe30caddd495--luxury-auto-black-cars.jpg" alt="" />
    </div>
    <div class="column column-block filter-simple-item cats">
      <img src="http://78.media.tumblr.com/eccac0786f41985601ad27296b16a5ca/tumblr_my9f22eDgr1rrt0gmo1_500.jpg" alt="" />
    </div>
    <div class="column column-block filter-simple-item space">
      <img src="https://i.pinimg.com/originals/48/84/be/4884bee0ff4e6a53cef4fdead91d304f.jpg" alt="" />
    </div>
    <div class="column column-block filter-simple-item space">
      <img src="https://i.pinimg.com/originals/dc/42/9c/dc429c060cbc8a6fd1fa68e1f98a8dc9.jpg" alt="" />
    </div>
  </div>
</section>


  <!-- Small Content -->

  <!-- Begin Footer -->
  <!-- with icon font (fontawesome) -->
  <div class="blogpost-footer-actions">
    <div class="blogpost-footer-actions-left">
      <a href="#"><i class="fa fa-heart-o" aria-hidden="true"> Cars Are Life</i></a>
      <a href="#"><i class="fa fa-comment-o" aria-hidden="true"> Cars Do Come True</i></a>
    </div>
    <div class="blogpost-footer-actions-right">
      <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="blogpost-footer-author-section">

    <div>
      <a href="#" class="blogpost-footer-author">
        <img class="avatar" src="https://lh3.googleusercontent.com/-3dOJPVX8VAw/WEYbPmhOpkI/AAAAAAAAAYs/fD4CDrluChQZ5Jl9M7kwq9XsrMqD_-jTQCEw/w139-h140-p/86B083FE-D78E-4AF9-B7E7-BD2156BFD496.JPG" alt="" />
        <div>
          <p class="author">Bushra Hussain</p>
          <p class="bio">She is the owner of this lovely shop. A girl can do cars too. </p>
        </div>
      </a>
    </div>
    <a href="#" class="hollow button success">Follow</a>

  </div>



  <!-- Small Footer -->
