<!-- Begin Nav -->
<nav class="top-bar topbar-responsive">
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
    <a class="topbar-responsive-logo" href="newcars.html"><strong>Cars</strong></a>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
        <li><a href="show.html.erb">Home</a></li>
        <li><a href="show.html.erb">About</a></li>
        <li><a href="show.html.erb">Services</a></li>
        <li><a href="works.html">Works</a></li>
        <li><a href="show.html.erb">New Cars</a></li>
        <li><a href="cshow.html.erb">Contact</a></li>
        <li>
          <button type="button" class="button hollow topbar-responsive-button">Categories</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Small Nav -->

<!-- Begin Hero -->
<div class="neat-article-container">
  <div class="row large-8 columns align-center">
    <div class="neat-article-header">
      <div class="article-header-avatar">
        <img class="header-avatar" src="https://lh3.googleusercontent.com/-tJUdZkFGZDU/WuiNmC7FNnI/AAAAAAAAAdM/NCiUSSZm9jwsljZe5rnoLlK83gFmDvI6gCEwYBhgL/w138-h140-p/unnamed%2B%25281%2529.jpg">
      </div>
      <div class="article-header-author">
        <p class="author-name">
          Bushra S. Hussain
        </p>
        <p class="author-description">
          Car girl who has all the cars in her hands.
        </p>
        <p class="article-date-read">My Fav Car At The Moment</p>
      </div>
    </div>
    <div class="neat-article-title">
      <h3 class="article-title">
        Nissan GT-R
      </h3>
    </div>
  </div>
  <div class="neat-article-image">
    <img class="article-image" src="http://i.sxdrv.com/images/56dd96fd966d0.jpg" alt="Space">
  </div>
  <div class="row neat-article-content">
    <div class="small-2 large-2 columns" data-sticky-container>
      <div class="sticky article-social" data-sticky data-anchor="sticky1" data-sticky-on="small">
        <div class="rounded-social-buttons">
          <a class="social-button facebook" href="show.html.erb"></a>
          <a class="social-button twitter" href="contact.html"></a>
          <a class="social-button google-plus" href="site.html"></a>
        </div>
      </div>
    </div>
    <div class="small-10 large-8 columns" id="sticky1">
      <div class="article-content">
        <p>
          Doesn’t matter what you call it—GT-R or, more fittingly, Godzilla—Nissan’s range topper is a supercar-stomping, high-tech dynamo. Its 3.8-liter twin-turbo V-6 makes a mighty 565 hp while a six-speed dual-clutch automatic and all-wheel drive team up to put all that power to the pavement. The GT-R’s quick steering, rigid structure and adjustable suspension can make even amateurs feel positively heroic from behind the wheel. Want more? Check out the track-ready NISMO-tuned variant with 600 hp.
        </p>
        <p>
          From start to finish, each GT-R engine is handcrafted by its own master engine-builder in a climate-controlled "clean room." Each twin-turbo V6 is precisely assembled from lightweight, highly durable aluminum and magnesium parts.
        </p>
        <p>
          Add a touch of premium with these ultimate floor mats that feature a metal GT-R logo and carbon-fiber inserts.
        </p>
        <p>
           It takes the exacting standards of the planet's most talented and devoted engine builders to produce the engine that has redefined what a supercar can be. NISMO-tuned suspension gains force with Bilstein® DampTronic® components that use computerized control to continually adjust shock absorber damping. The system has three driver-selectable driving modes and constantly monitors vehicle speed, lateral acceleration, torque, engine rpm and braking behavior to help provide the ideal ride/handling balance. To match the precision of the other GT-R suspension components, high-accuracy progressive-rate springs were developed and manufactured to extremely high tolerances.
        </p>
          Once again the 2017 GT-R raises the bar for ultimate performance. Inside, the GT-R takes a giant step forward with a new design that reduces driver workload, while stepping up to a new level of premium with hand-selected and handcrafted materials. Add in greater power, and a suspension retuned to provide a more supple ride while enhancing handling, and Legendary Exhilaration has never looked better.Most stability control systems cut engine power or apply the brakes when they sense a loss of control. That's fine for the road, but slow going in competition conditions. While cornering with the advanced Vehicle Dynamic Control (VDC) system in R-Mode, it actually sends more power to the appropriate wheels when it senses oversteer or understeer, helping to keep it on the steered course, a much quicker way to go in track conditions.
        <p>
          The GT-R 6-speed sequential dual-clutch transmission shifts as quickly as 0.15 seconds when in R-Mode.Inside are separate clutches for the odd and even gears. When in an odd-numbered gear, the adjacent even-numbered gear is “pre-selected,” ready to make the shift immediately. Then, to achieve ideal front-to-rear weight distribution, the GT-R clutches, transmission and transfer case are mounted in the rear of the chassis, creating the world’s first independent rear transaxle for an All-Wheel Drive vehicle.
        </p>
        <p>
          Awe-inducing. 600 horsepower of fury combined with unmatched control. Building on the advanced technology of the hand-assembled GT-R engine, GT-R NISMO adds high-capacity turbos developed from our GT3 racing program.The result is performance that's as stunning on the road as it is dominating on the track.
        </p>
      </div>
    </div>
  </div>

</div>




<!-- Small Hero -->

<!-- Begin Content -->
<div class="news-image-gallery-container">
  <div class="row">
    <div class="small-12 medium-12 large-8 columns">
      <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
        <ul class="orbit-container">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
          <li class="is-active orbit-slide">
            <img class="orbit-image" src="https://s-media-cache-ak0.pinimg.com/736x/ed/5f/c2/ed5fc2ae11b7f3ea9f40e71972c9ca9c.jpg" alt="Space">
            <figcaption class="orbit-caption">Look at these stanced out cars.</figcaption>
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="http://www.mrwallpaper.com/wallpapers/nissan-gtr-wide-body-2560x1600.jpg" alt="Space">
            <figcaption class="orbit-caption">Lets Rocket With This Awesome Z.</figcaption>
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="https://shop.yasiddesign.com/wp-content/uploads/2015/08/A3-Toyota-Supra-11.jpg" alt="Space">
            <figcaption class="orbit-caption">Encapsulating</figcaption>
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="https://media.ed.edmunds-media.com/bmw/m6-gran-coupe/2017/ot/2017_bmw_m6-gran-coupe_LIFE1_ot_1130165_1280.jpg" alt="Space">
            <figcaption class="orbit-caption">Outta This World</figcaption>
          </li>
        </ul>
        <nav class="orbit-bullets">
          <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
          <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
          <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
          <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        </nav>
      </div>
    </div>
    <div class="small-12 medium-12 large-4 columns">
      <div class="rounded-social-buttons">
        <a class="social-button facebook" href="#"></a>
        <a class="social-button twitter" href="#"></a>
        <a class="social-button linkedin" href="#"></a>
        <a class="social-button google-plus" href="#"></a>
      </div>
      <div class="clearfix"></div>
      <h4 class="news-image-gallery-title">Pew PEW</h4>
      <p>
        Cars
        <a href="site.html" class="read-more">
          Read More
        </a>
      </p>
    </div>
  </div>
</div>


<!-- Small Content -->

<!-- Begin Footer -->
<!-- with icon font (fontawesome) -->
<div class="blogpost-footer-actions">
  <div class="blogpost-footer-actions-left">
    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"> Cars Are Life</i></a>
    <a href="#"><i class="fa fa-comment-o" aria-hidden="true"> Cars Do Come True</i></a>
  </div>
  <div class="blogpost-footer-actions-right">
    <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  </div>
</div>

<div class="blogpost-footer-author-section">

  <div>
    <a href="#" class="blogpost-footer-author">
      <img class="avatar" src="https://lh3.googleusercontent.com/-3dOJPVX8VAw/WEYbPmhOpkI/AAAAAAAAAYs/fD4CDrluChQZ5Jl9M7kwq9XsrMqD_-jTQCEw/w139-h140-p/86B083FE-D78E-4AF9-B7E7-BD2156BFD496.JPG" alt="" />
      <div>
        <p class="author">Bushra Hussain</p>
        <p class="bio">She is the owner of this lovely shop. A girl can do cars too. </p>
      </div>
    </a>
  </div>
  <a href="#" class="hollow button success">Follow</a>

</div>



<!-- Small Footer -->
